$white: #ffff;
$black: #000; 
$grey: #777777;
$red: #AF2F4C;
$yellow: rgb(255, 208, 0);

$bg-card: rgba(0, 0, 0, 0.500);
$bg-main: #111111;

$font-text:'Playfair Display', serif;
$font-logo: 'Josefin Sans', sans-serif;