main{
    .container-pay{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        gap: 40px;
        .price{
            .expo{
                display: flex;
                flex-direction: column;
                label{
                    color: $white;
                    font-family: $font-logo;
                    font-size: 14px;
                    padding: 4px;
                    padding-left: 8px;
                }
                select{
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $red;
                    border-radius: 4px;
                    padding: 4px;
                }
            }
            .adults{
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                label{
                    color: $white;
                    font-family: $font-logo;
                    font-size: 14px;
                    padding: 4px;
                    padding-left: 8px;
                }
                select{
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $red;
                    border-radius: 4px;
                    padding: 4px;
                }
            }   
            .kids{
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                label{
                    color: $white;
                    font-family: $font-logo;
                    font-size: 14px;
                    padding: 4px;
                    padding-left: 8px;
                }
                select{
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $red;
                    border-radius: 4px;
                    padding: 4px;
                }
            }
            .btn-price{
                width: 100%;
                margin-top: 25px;
                padding: 9px 7px 7px 7px;
                border: 0px;
                border-radius: 4px; 
                background-color: $red;
                color: $white;
                font-family: $font-logo;
            }  
            h3{
                width: 100%;
                padding-top: 25px;
                padding-bottom: 3px;
                color: $white;
                font-family: $font-logo;
                border-bottom: 1px dashed $red;
                display: flex;
                justify-content: space-between;
                span{
                    font-family: $font-logo;
                    color: $yellow;
                }
            }
        }
        .credit-card{
            .credit-name{
                display: flex;
                flex-direction: column;
                label{
                    color: $white;
                    font-family: $font-logo;
                    font-size: 14px;
                    padding: 4px;
                    padding-left: 8px;
                }
                input{
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $red;
                    border-radius: 4px;
                    padding: 4px;
                }
            }
            .credit-number{
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                label{
                    color: $white;
                    font-family: $font-logo;
                    font-size: 14px;
                    padding: 4px;
                    padding-left: 8px;
                }
                input{
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $red;
                    border-radius: 4px;
                    padding: 4px;
                }
            }
            .credit-info{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 10px;
                .credit-date{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    label{
                        width: 100%;
                        color: $white;
                        font-family: $font-logo;
                        font-size: 14px;
                        padding: 8px;
                        padding-left: 4px;
                    }
                    input{
                        width: 45%;
                        color: $white;
                        background-color: transparent;
                        border: 1px solid $red;
                        border-radius: 4px;
                        padding: 4px;
                    }
                }
                .credit-cvc{
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 40px;
                    label{
                        width: 100%;
                        color: $white;
                        font-family: $font-logo;
                        font-size: 14px;
                        padding: 8px;
                        padding-left: 4px;
                    }
                    input{  
                        width: 100%;
                        color: $white;
                        background-color: transparent;
                        border: 1px solid $red;
                        border-radius: 4px;
                        padding: 4px;
                    } 
                }
            }
            .btn-pay{
                width: 100%;
                margin-top: 25px;
                padding: 9px 7px 7px 7px;
                border: 0px;
                border-radius: 4px; 
                background-color: $red;
                color: $white;
                font-family: $font-logo;
            }
        }
    }
}

@media (min-width: 576px){

    main{
        .container-pay{
            width: 70%;
            margin: auto;
        }
    }

}

@media (min-width: 768px){

    main{
        .container-pay{
            padding-bottom: 50px;
        }
    }

}

@media (min-width: 1200px) {

    main{
        .container-pay{
            width: 50%;
        }
    }

}

@media (min-width: 1400px) {

    main{
        .container-pay{
            height: 80vh;
            width: 40%;
            padding-top: 140px;
        }
    }

}